            body {
                opacity: 1.0;
                background-color: rgb(183, 236, 196);
                background-size: cover;
                text-align: center;
            }
            p1 {
                color: blue;
            }
            #identificador{
                color: white;
                background-color: cadetblue ;
                border-radius: 10px;
                text-align: center;                
            }
            html {
            font-family:'Lucida Sans', sans-serif;
            }

            h1 { 
                color: green;
                font-size: 180px;
            }

            p {
                color: #FF0000;
                font-size: 30px;
            }

            ol1 {
                color: greenyellow;
                font-size: 30px; 
            }

            ul2 {
                color: blue;
                font-size: 30px;
            }

            .estilo7 {
                color: darkgreen;
                background-color: aquamarine;
                font-size: 11px;
                text-align: center;
                align-items: center;
                border-radius: 25px;
            }
            .container{
                width: 80%;
                height: 100vh;
                padding: 20px;
                border: 1cm;
                margin: 2in;
            }.box{
                width: 10em;
                height: 5em;
                font-size: 12pt;
                border: 2mm;
            }
            .img{
                border-radius: 25px;
                position:relative;
                top:50px;
                width:300px;
                align-items: center;
                text-align: center;
                
            }